<div class="container">
  <div class="row justify-content-md-center">
    <h1 class=>Welcome</h1>
  </div>
  <div class="row justify-content-md-center">
    <h3>Ask a question to your 🤬 coach :</h3>
  </div>
  <div class="row justify-content-md-center">
    <form action="post">
      <input type="text" name="message">
      <input type="submit" value="Ask!">
    </form>
  </div>
</div>
