<div>
  <h2>Say hello to your lovely coach 🥰</h2>
  <form class="d-flex" method="get" action="/answer">
    <input class="input-group-text" type="text" name="question">
    <input class="btn btn-primary" type="submit" value="Ask !">
  </form>
</div>
